<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData">
            <NotAuthorized>
                <RedirectToSignin />
                @*<h1>401 - Sorry</h1>
                <p>40 - unauthorized</p>*@
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <h1>404 - Sorry</h1>
        <p>404 - page not found</p>
    </NotFound>
</Router>
