@page "/"
@namespace web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>blazor-minimal</title>
    <base href="/" />
    <style>
        body {
            background-color: black;
            color: white;
            font-family: monospace;
            margin: 1em 0px;
            font-size: 12px;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: black;
        }

        a {
            text-decoration: none;
            color: gray;
        }

            a:link {
            }

            a:visited {
            }

            a:hover {
                color: cyan;
            }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #222222;
            margin: 1em 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
