@page "/profile"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor ContextAccessor
@*@inject ClaimsPrincipal CurrentUser*@

<h3>aspnetcore-keycloak (blazor)</h3>

Profile...

<AuthorizeView Roles="admin, superuser">
    <p>hello admin or superuser.</p>
</AuthorizeView>

<AuthorizeView>
    <h1>Hi, @ContextAccessor.HttpContext.User.Identity.Name!</h1>
</AuthorizeView>

<button @onclick="@Log">Write user info to console</button>

<p>
    <a href="/">home</a><br />
</p>

@code {

    private async Task Log()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var user1 = ContextAccessor.HttpContext.User.Identity.Name;
            Console.WriteLine($"user '{user.Identity.Name}' is authenticated.");
        }
        else
        {
            Console.WriteLine("user is NOT authenticated.");
        }
    }
}